<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <div class="d-flex align-items-center gap-5 text-dark">
      <%= link_to root_path, class: "navbar-brand", id:"change-color-rover" do %>
        <i class="fa-solid fa-chess" id="change-color-rover"></i>
        <strong>RentGames</strong>
        <i class="fa-solid fa-dice-d20" id="change-color-rover"></i>
        <%= link_to "Home", root_path, class: "nav-link", id:"change-color-rover" %>
        <%= link_to "About us", about_path, class: "nav-link", id:"change-color-rover" %>
      <% end %>
      <%# <% if user_signed_in? %>
          <%# <%= link_to "Home", root_path, class: "nav-link" %>
          <%# <%= link_to "About us", about_path, class: "nav-link" %>
        <%# <% end %> 
      </div>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <% if user_signed_in? %>
            <div class="d-flex align-items-center">
            <%= link_to current_user.first_name, profile_path, class: "nav-link" %>
            <% if current_user.photo.attached? %>
              <%= cl_image_tag current_user.photo.key, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
              <% else %>
              <%= icon('fa-solid', 'user-secret', class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false) %>
            <% end %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "My profile", profile_path, class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
            <% else %>
              <li class="nav-item">
                <%= link_to "Login", new_user_session_path, class: "nav-link btn", id: "btn-nav" %>
              </li>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</div>
