<div class="container py-5 h-100">
  <h1>My Profile</h1>
    <div class="d-flex justify-content-center align-items-center h-100">
      <div class="card" style="border-radius: 15px;">
        <div class="card-body p-4">
          <div class="d-flex text-black">
            <div class="flex-shrink-0 style="border-radius: 15px;">
              <% if current_user.photo.attached? %>
                <%= cl_image_tag(current_user.photo.key, height: 200, crop: :fill) %>
              <% else %>
                <%= image_tag("xadrez.jpg", height: 200) %>
              <% end %>
            </div>
            <div class="flex-grow-1 d-flex flex-column justify-content-between ms-3">
              <h5 class="mb-1"><%= "#{current_user.first_name} #{current_user.last_name}"%></h5>
              <p class="mb-2 pb-1" style="color: #2b2a2a;">User profile</p>
            <div class="d-flex justify-content-start rounded-3 p-2" style="background-color: #efefef;">
              <div>
                <p>Email: <strong><%=@user.email%></strong></p>
                <p>Address: <strong><%=@user.address%></strong></p>
              </div>
              <div class="d-flex dropdown">
                <button class="dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="fa-solid fa-gear"></i>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                  <%= link_to "Edit user", edit_user_registration_path, class: "dropdown-item" %>
                  <%= link_to "Delete user", user_registration_path, data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to delete your profile?"}, class: "dropdown-item"%>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container h-100">
  <h3>My Board Games - Collection</h3>
      <div class="container mt-3">
          <div class="d-flex justify-content-center">
            <% @boards.each do |rent| %>
              <div class="card mx-3" style="border-radius: 15px;">
                <div class="card-body p-4">
                  <div class="d-flex justify-content-between">
                    <h5 class="mb-1"><%= rent.title%></h5>
                  </div>
                  <div class="d-flex flex-column rounded-4 align-items-center "><%= cl_image_tag rent.photo.key, class: 'card_img' %></div>
                </div>
                <div class="d-flex flex-column justify-content-start rounded-4 p-3" style="background-color: #efefef;">
                  <p>Rating: <strong><%=rent.rating%></strong></p>
                  <p>Category: <strong><%=rent.category%></strong></p>
                  <p>Owner: <strong><%=rent.user.first_name%></strong></p>
                  <p>Number of players: <strong><%=rent.player_number%></strong></p>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container h-100">
  <h3>My Board Games - Rented Out</h3>
    <div class="container mt-3">
          <div class="d-flex justify-content-center">
          <% @boards.each do |board| %>
          <% if board.rents.exists? %>
            <% board.rents.each do |board_rent| %>
              <div class="card mx-3" style="border-radius: 15px;">
                <div class="card-body p-4">
                  <div class="d-flex justify-content-between">
                    <h5 class="mb-1"><%= board_rent.board.title %></h5>
                  </div>
                  <div class="d-flex flex-column rounded-4 align-items-center "><%= cl_image_tag board_rent.board.photo.key, class: 'card_img' %></div>
                </div>
                <div class="d-flex flex-column justify-content-start rounded-4 p-3" style="background-color: #efefef;">
                  <p>Start Date: <strong><%= board_rent.start_date %></strong></p>
                  <p>End Date: <strong><%= board_rent.end_date %></strong></p>
                  <p>Rented out by: <strong><%= board_rent.user.first_name %></strong></p>
                </div>
              </div>
            <% end %>
          </div>
        </div>
        <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>




<div class="container py-2 h-100">
  <h3>Board Games I've Rented</h3>
    <div class="container mt-3">
          <div class="d-flex justify-content-center">
            <% @user.rents.each do |rent| %>
              <div class="card mx-3" style="border-radius: 15px;">
                <div class="card-body p-4">
                  <div class="d-flex justify-content-between">
                    <h5 class="mb-1"><%= rent.board.title %></h5>
                  </div>
                  <div class="d-flex flex-column rounded-4 align-items-center "><%= cl_image_tag rent.board.photo.key, class: 'card_img' %></div>
                </div>
                <div class="d-flex flex-column justify-content-start rounded-4 p-3" style="background-color: #efefef;">
                  <p>Price Unit <strong><%="R$:#{rent.board.price}" %></strong></p>
                  <p>Start Date: <strong><%= rent.start_date %></strong></p>
                  <p>End Date: <strong><%= rent.end_date %></strong></p>
                  <p>Total Price: <strong><%= number_to_currency((rent.end_date - rent.start_date) * rent.board.price, unit: 'R$', separator: ',', delimiter: '.') %></p></strong>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
