
<% if current_user.photo.attached? %>
  <%= cl_image_tag(current_user.photo.key, height: 200, crop: :fill) %>
<% else %>
  <%= image_tag("xadrez.jpg", height: 200) %>
<% end %>

<div>
  <ul>
    <li><%= @user.first_name %></li>
    <li><%= @user.email %></li>
    <li><%= @user.address %></li>
  </ul>
</div>

<div>
  <h2><%= link_to "Edit user", edit_user_registration_path, class: "btn btn-warning" %></h2>
</div>

<div>
  <h2><%= link_to "Delete user", user_registration_path, class: "btn btn-danger", data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to delete your profile?"}%></h2>
</div>

<h3>My Board Games - Collection</h3>

<% @boards.each do |rent| %>
  <div class="card-product">
    <%= cl_image_tag rent.photo.key, class: 'card_img' %>
    <div class="card-product-infos">
      <h2><%= link_to "#{rent.title}", board_path(rent)%></h2>
      <p>Rating: <strong><%=rent.rating%></strong></p>
      <p>Category: <strong><%=rent.category%></strong></p>
      <p>Owner: <strong><%=rent.user.first_name%></strong></p>
      <p>Number of players: <strong><%=rent.player_number%></strong></p>
    </div>
  </div>
<% end %>

<h3>My Board Games - Rented Out</h3>

<% @boards.each do |board| %>
  <div class="card-product">
    <% board.rents.each do |board_rent| %>
    <%= cl_image_tag board_rent.board.photo.key, class: 'card_img' %>
    <div class="card-product-infos">
      <p>Title: <%= board_rent.board.title %> </p>
      <p>Start Date: <%= board_rent.start_date %></p>
      <p>End Date: <%= board_rent.end_date %></p>
      <p>Rented out by: <%= board_rent.user.first_name %></p>
    </div>
    <% end %>
  </div>
<% end %>

<h3>Board Games I've Rented</h3>

<% @user.rents.each do |rent| %>
  <div class="card-product">
    <%= cl_image_tag rent.board.photo.key, class: 'card_img' %>
    <div class="card-product-infos">
      <p>Start Date: <%= rent.start_date %></p>
      <p>End Date: <%= rent.end_date %></p>
    </div>
  </div>
<% end %>
