
<%= simple_form_for(@board) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="board-inputs">
    <%= f.input :title %>
    <%= f.input :price %>
    <%= f.input :rating %>
    <% boards = @boards.map { |b| b.category }.uniq.sort %>
    <%= f.input :category, collection: boards, prompt: 'Select a category' %>
    <%= f.input :player_number %>
    <%= f.input :photo, as: :file %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-primary" %>
  </div>
<% end %>
