<h1>Show board</h1>
<h2><%= @board.title %></h2>
<p><%="Category:#{@board.category}"%></p>
<p><%="Preço:#{@board.price}"%></p>
<p><%="Rating:#{@board.rating}"%></p>
<p><%="PLayers Number:#{@board.player_number}"%></p>


